{% extends "layout/base.html.twig" %}

{% block content %}
<div class="container">
  <h2>{{user.name}} - kasowanie drużyny</h2>
  
  <p class="p-4">

    UWAGA: Czy na pewno chcesz <span class="bg-danger">NIEODWRACALNIE
      skasować</span> drużynę "{{user.name}}", jej trasę wynik i inne powiązane dane?
    </p>
      

  <form method="post">
      <div class="btn-group" role="group" > 
        <a href="{{url_for('admin.users.list')}}" class="btn btn-primary">Anuluj</a>
      <button type="submit" value="delete" class="btn btn-danger">Skasuj</button>
    </div>
    </form>

</div>
{% endblock %}