{% extends "layout/base.html.twig" %}

{% block content %}

<div class="container">
  <h2>{{ commonData.title }}</h2>

  <br>
  Witaj drogi podróżniku w nieznane.
  <br>
  <br>
  <br>
  <br>
  <br>

</div>
{% endblock %}